<div id="root"></div>

<% if current_user %>
<script type="text/javascript">
window.currentUser = <%= render(
  "api/users/user.json.jbuilder",
  user: current_user
).html_safe %>
</script>
<% end %>

<script type="text/javascript">
  window.images = {
    session: "<%= image_url('session_img.png') %>",
    home: "<%= image_url('home.jpg') %>",
    search: "<%= image_url('search_icon.png') %>",
    logo: "<%= image_url('logo.png') %>",
    star_icon: "<%= image_url('star_icon.png') %>",
    review_search: "<%= image_url('review_search.png') %>",
    review_results: "<%= image_url('review_results.png') %>",
    default_profile: "<%= image_url('profile.png') %>"
  }
</script>
