<!DOCTYPE html>
<html>
  <head>
    <title>Yeep</title>
    <link sizes="24x24" rel="icon" type="image/png" href="<%= image_url('logo_icon.png') %>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
